# Directorios de entorno virtual
venv/
env/
.env/
.env

# Archivos de Python
*.pyc
__pycache__/
*.log
*.sqlite3
*.db

# Archivos de configuración de Django sensibles
.env 

# Archivos de medios subidos por usuarios
media/

# Archivos de IDEs y editores (ej. VS Code, PyCharm)
.idea/
.vscode/
*.swp
*.swo

# Archivos de compilación de frontend (si usas Node.js/npm)
node_modules/
npm-debug.log
yarn-error.log
.parcel-cache/

# Archivos de pruebas
.coverage
.pytest_cache/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de datos
datos/

