{% extends "base.html" %}

{% block title %}Certificados pendientes de validar{% endblock %}

{% block content %}
  <h2>Certificados pendientes</h2>

  {% if participaciones %}
    <table>
      <thead>
        <tr>
          <th>Empleado</th>
          <th>Curso</th>
          <th>Fecha</th>
          <th>Nota</th>
          <th>¿Certificado recibido?</th>
        </tr>
      </thead>
      <tbody>
        {% for p in participaciones %}
          <tr>
            <td>{{ p.empleado.nombre }}</td>
            <td>{{ p.curso.nombre }}</td>
            <td>{{ p.fecha_certificacion|date:"d/m/Y" }}</td>
            <td>{{ p.nota }}</td>
            <td>{{ p.certificado|yesno:"Sí,No" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay certificados pendientes actualmente.</p>
  {% endif %}
{% endblock %}
